.card-performance .card-wo-performance {
    height: auto;
    max-height: 500px;
    overflow-y: auto; /* Menambahkan overflow jika konten lebih panjang */
    margin-bottom: 20px; /* Menambahkan margin bawah untuk menjaga jarak dari footer */
}


.card-performance .header-wo-performance {
    border-radius: 15px 15px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #D9D9D9;
}

.card-performance .value-wo-performance {
    font-size: 16px;
    font-weight: 600;
    vertical-align: top;
}

.card-performance .container {
    display: flex;
    justify-content: space-between;
  }

.card-performance .column {
    flex-basis: 100%;
    text-align: center;
    padding: 8px;
  }

.card-performance .IT-performance {
    display: flex;
    width: 296px;
    padding: 4px 6px;
    align-items: center;
    gap: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .card-performance .col-6 {
        flex-basis: 100%; /* Pada layar yang lebih kecil, buat kolom mengambil ruang penuh */
    }
}

@media screen and (max-width: 576px) {
    .card-performance .card-body {
        flex-direction: column; /* Pada layar yang sangat kecil, atur arah flex menjadi kolom */
        align-items: center; /* Pusatkan konten secara horizontal pada layar kecil */
    }
    .card-performance .card-text {
        text-align: left; /* Pusatkan teks di dalam card-text */
    }
}